node_modules
npm-debug.log
yarn-error.log
data
/wordpress/index.php
/wordpress/wp-*.php
/wordpress/wp-content/index.php
/wordpress/wp-content/languages/
/wordpress/wp-content/themes/index.php
/wordpress/wp-content/themes/twentynineteen/
/wordpress/wp-content/themes/twentytwenty/
/wordpress/wp-content/themes/twentytwentyone/
/wordpress/wp-content/themes/basic/
/wordpress/wp-content/uploads/wp-migrate-db/index.php
/wordpress/license.txt
/wordpress/readme.html
/wordpress/xmlrpc.php
/wordpress/wp-admin/*
/wordpress/wp-includes/*
/wordpress/wp-content/db.php
/wordpress/wp-content/index.php
/wordpress/wp-content/debug.log
/wordpress/wp-content/uploads/**
/wordpress/wp-content/plugins/index.php
/wordpress/wp-content/plugins/wp-graphql
/wordpress/wp-content/plugins/pods
/wordpress/wp-content/plugins/wp-mpdf
/wordpress/wp-content/plugins/fakerpress
docker/wp-cli-cache/packages/
